<h1>Editing Book</h1>

<%= form_with model:@book, url:"/books/#{@book.id}", local:true do |f| %>
 <% if @book.errors.any? %>
 <%= @book.errors.count %>errors prohibited this obj from being saved:<br>
 <ul><% @book.errors.full_messages.each do |message| %></ul>
  <li><%= message %></li>
 <% end %>
 <% end %>

  <p>Title</p>
  <%= f.text_field :title %>
  <p>Body</p>
  <%= f.text_field :body %>
  <div><%= f.submit "Update Book" %></div>
<% end %>

<%= link_to "Show", book_path(@book.id) %>
<span>|</span>
<%= link_to "back", books_path %>
